body {
	font-family: 'Lato', sans-serif;
	background-color: #eff6e0;
	height: 100vh;
}

#formContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin: 20px;
	background-color: #124559;
	padding: 20px;
	border-radius: 10px;
}

input {
	display: block;
}

#item1,
#item2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	width: 300px;
	margin-right: 15px;
	outline: none;
	background-color: #f1faee;
	padding: 10px;
	border-radius: 7px;
	color: #01161e;
	font-family: 'Lato', sans-serif;
	border: 1px solid #c4c4c4;
	box-shadow: inset 0 3px 6px #0000001a;
}

#item3,
#item1NewProject {
	color: #01161e;
	font-size: 20px;
	outline: none;
	background-color: #f1faee;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
	box-shadow: inset 0 3px 6px #0000001a;
}

#item3 {
	background: #f1faee url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50%
		no-repeat;
}

#item3::-webkit-inner-spin-button {
	display: none;
}

#item3::-webkit-calendar-picker-indicator {
	opacity: 0;
	width: 20px;
}

/*Radio Buttons*/

#radioBigContainer {
	margin: 0px 20px;
	padding-top: 10px;
}

/* The small container */
.radioContainer {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #eff6e0;
}

/* Hide the browser's default radio button */
.radioContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 10px;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#radio1:checked ~ .checkmark {
	background-color: #a2e3c4;
}

#radio2:checked ~ .checkmark {
	background-color: #cc5803;
}

#radio3:checked ~ .checkmark {
	background-color: #e63946;
}

#small-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	margin-top: 40px;
}

#projectsContainer {
	position: relative;
	flex-basis: 70%;
	padding: 0px 20px;
}

#listContainer,
.currentProject {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	height: 70vh;
	overflow: auto;
	background-color: #f2cc8f;
	padding: 20px 0px;
	border-radius: 10px;
}

#projectsListContainer {
	flex-basis: 30%;
	padding: 0px 20px;
}

#projectsListDiv {
	margin-top: 15px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	padding: 20px;
	background-color: #aec3b0;
	border-radius: 10px;
	height: 65vh;
	overflow: auto;
}

.projectTitleWrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #222;
}

.buttonsDiv {
	padding-top: 10px;
	padding-right: 10px;
}

h2,
h1 {
	font-weight: bold;
	padding: 10px;
	color: #1d3557;
}

.titles {
	text-align: center;
	font-size: 25px;
	color: #1d3557;
}

#firstTitle {
	font-size: 35px;
}

.backToList {
	display: block;
}

.list {
	display: flex;
	flex-direction: row;
	padding: 20px;
	justify-content: space-between;
	color: #1d3557;
	font-size: 18px;
	perspective: 100px;
	opacity: 0;
	transform: rotateX(-90deg);
	transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
}

/*flip animation*/
.show {
	opacity: 1;
	transform: none;
	transition: all 0.5s cubic-bezier(.36, -0.64, .34, 1.76);
}

.item {
	padding: 0px 20px;
	align-self: center;
	width: 30%;
	position: relative;
}

.item:first-child {
	font-weight: 900;
}

#newProjectFormContainer {
	display: flex;
	justify-content: space-between;
	height: 40px;
}

#formContainerNewProject {
	display: none;
}

#submitNewProject {
	display: inline-block;
}

#item1NewProject {
	text-transform: uppercase;
	width: 200px;
	border-radius: 5px;
}

.btn-delete-todo,
.btnReveal,
.btn-delete,
#newProjectButton,
#submit {
	display: inline;
	align-self: center;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
	background-color: #eff6e0;
	border-radius: 5px;
	border: 1px solid #598392;
	text-align: center;
	user-select: none;
}

#submit {
	padding: 10px;
}

#submit:active {
	border: 1px solid #222;
}

.btn-delete-todo:hover,
.btnReveal:hover,
.btn-delete:hover,
#newProjectButton:hover,
#submit:hover {
	background-color: #222;
	color: #fff;
}

#btnSubmitEdit {
	position: absolute;
	bottom: -50px;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #eff6e0;
	border-radius: 5px;
	border: 1px solid #598392;
}

@media all and (max-width: 1320px) {
	#small-container {
		flex-wrap: wrap;
	}

	#projectsContainer {
		flex-basis: 100%;
	}

	#projectsListContainer {
		flex-basis: 100%;
	}

	#item3 {
		font-size: 15px;
	}
}
